



/* Seção principal com padding, fundo claro e centralização */
.segmento-section {
  padding: 60px 20px;
  background-color: #fafafa;
  text-align: center;
}

/* Título principal com fonte itálica leve */
.Titulo-pagina {
  font-family: "Inter-ExtraLight Italic", Helvetica;
  font-size: 32px;
  margin-top: 50px;
  color: #333;
}

/* Container dos cards com grid responsivo */
.segmento-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /* empilha os cards verticalmente */
  align-items: center;  
  font-family: "Inter-ExtraLight Italic", Helvetica;
  font-size: 18px;
  gap: 30px;  
}

/* Cada card individual com borda arredondada, sombra e transição */
.segmento-card {
  background: #fff;
  padding: 30px 20px;
  border-radius: 16px;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
 
}



/* Ícones no topo de cada card */
.segmento-icon {
  width: 60px;
  margin-bottom: 20px;
}

/* Títulos dos cards */
.segmento-card h3 {
  font-family: "Inter-ExtraLight Italic", Helvetica;
  font-size: 28px;
  font-style: italic;
  margin-bottom: 10px;
  color: #4F4F4F;
}

/* Texto descritivo dos cards */
.segmento-card p {
  font-size: 1rem;
  color: #4F4F4F;
  line-height: 1.5;
}
.imagem-entre-cards {
  width: 100%;
  margin: 20px 0;
  display: flex;
  border-radius: 8px;
  object-fit: cover;
}
.card-bloco {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


/* Ajuste para telas menores */
@media (max-width: 768px) {
  .segmento-cards {
    flex-direction: column;
    align-items: center;
  }
}

